.leftSidebar { 

    text-align: left;
    float: left;
}

.login {

    text-align: right;
    float: right;

}

.mainArea {

    text-align: left;
    float: left;

}

.mainArea input[type=text] {
	float: right;
  	padding: 6px;
 	border: none;
  	margin-top: 8px;
  	margin-right: 16px;
  	font-size: 17px;
}

.mainArea .search-container button {
	float: right;
  	padding: 6px 10px;
 	
  	margin-right: 16px;
  	background: #ddd;
  	font-size: 17px;
  	border: none;
  	cursor: pointer;
}

.mainArea .search-container button:hover {
	background: #ccc;
}

.options {

    text-align: right;
    float: right;

}

.settings {

    
    float: left;

}

.logout {

   
    float: right;

}

