body{
	margin: 0;
	padding: 0;
	background: url(../img/background.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
	left: 0;
    width: 100%;
	background-color: black;
}

/*Changing the size of the unorder list to make the top smaller,
that way the gap between the top and bottom of the logo is more even*/
ul{
	margin-top: 0;
	padding: 0px 0px;
}

li{
	float: left;
	display: block;
	text-align: center;
	padding: 8px 8px;
}

/* I'm removing the footer for now
footer{
	position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    font-family: -apple-system, 'Roboto', sans-serif;
    font-weight: 350;
    font-size: 14px;
}
*/

/*Change the difference in the two heights to be based on a percentage*/
/*I've hardcoded the margins to be like this to allow the headers to not conflict with each other
when in a normal window size of like 1920x1080, but if you resize it too small there's some conflicts*/
.trending-div{
	margin-top: 240px;
    margin-bottom: 20px;
}

.trending-button{
	background-color: #000;
	color: white;
    margin-top: 0px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0.5px solid transparent;
    font-size: 14px;
	font-family: sans-serif;
    font-weight: 0px;
}

.trending-graph{
	max-height: 200px;
	height:auto;
	width: auto;
}

.header-buttons{
	background-color:#4585f4;
	color: white;
    margin-top: 24px;
    padding: 10px 20px;
    border-radius: 6px;
    border: 0.5px solid transparent;
    font-size: 14px;
	font-family: sans-serif;
    font-weight: 0px;
}

/*Well I got the search form to look nice, but if you resize 
the window too small it will overlap with the buttons on the right*/
.search-form {
    height: 2.5rem;
    width: 28rem;
    border-width: 1px;
    border-radius: 20px;
    border-color: lightgray;
    border-style: solid;
    padding-left: 40px;
    padding-right: 55px;
    font-size: 16px;
    font-family: sans-serif;
}

#website-title{
	margin-top: 24px;
	font-size: 32px;
	color: white;
}

#logo-edit{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

/*Stuff from the other members*/
.leftSidebar { 

    text-align: left;
    float: left;
}

.loginbox{
	width:320px;
	height: 420px;
	background:#000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.loginbox p{
	margin: 0;
	padding: 0;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	background: rgb(0, 153, 255);
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: rgb(0, 255, 221);
	color: #000;
}

.loginbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.loginbox a:hover
{
	color: #2c07ff;
}
